BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
SortIncludes: false
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: true
    AfterStruct: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDefinitionName: true